In [1]:
! java -version

java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) Client VM (build 25.151-b12, mixed mode, sharing)

In [5]:
! python --version

Python 3.7.4

In [6]:
pip install pyspark

Requirement already satisfied: pyspark in c:\conda\lib\site-packages (2.4.4)
Requirement already satisfied: py4j==0.10.7 in c:\conda\lib\site-packages (from pyspark) (0.10.7)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pyspark

In [14]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession

In [16]:
sc = SparkContext()
sc

In [17]:
spark = SparkSession(sc)

In [18]:
from pyspark.sql.types import Row

In [19]:
from datetime import datetime

In [20]:
simple_data = sc.parallelize([1,'Nissan Versa', 12])

In [21]:
simple_data

ParallelCollectionRDD[0] at parallelize at PythonRDD.scala:195

In [22]:
simple_data.collect()

[1, 'Nissan Versa', 12]

In [28]:
simple_data.collect()

[1, 'Nissan Versa', 12]

In [25]:
simple_data.count()

3

In [29]:
simple_data.first()

1

In [34]:
simple_data.take(2)

[1, 'Nissan Versa']

In [41]:
'''first returns element{int,str,float,.....}, but take() returns a list'''
print(f'Type of first :--> {type(simple_data.first())} and type of Take is : ----> {type(simple_data.take(1))}')

Type of first :--> <class 'int'> and type of Take is : ----> <class 'list'>

In [45]:
simple_data.first() == simple_data.take(1)

False

In [53]:
simple_data.first() is simple_data.take(1)[0]

True

In [47]:
'''Not able to convert as it is a Single dimension data/RDD and has no Columns data'''
data_frame = simple_data.toDF()

TypeError: Can not infer schema for type: <class 'int'>

In [59]:
record = sc.parallelize([[1,"Nissan Versa", 12],
                        [2,"Sunny",34]])
record

ParallelCollectionRDD[67] at parallelize at PythonRDD.scala:195

In [60]:
record.first()

[1, 'Nissan Versa', 12]

In [61]:
record.count()

2

In [62]:
record.collect()

[[1, 'Nissan Versa', 12], [2, 'Sunny', 34]]

In [63]:
record.first()[2]

12

In [67]:
record_df = record.toDF()

In [68]:
record_df.show()

+---+------------+---+
| _1|          _2| _3|
+---+------------+---+
|  1|Nissan Versa| 12|
|  2|       Sunny| 34|
+---+------------+---+

In [69]:
type(record_df)

pyspark.sql.dataframe.DataFrame

In [72]:
new_data = sc.parallelize([Row(index = 1,vehicle = 'Fiat Punto', vehicle_stock = 14)])

In [74]:
new_data_df = new_data.toDF()
new_data_df.show()

+-----+----------+-------------+
|index|   vehicle|vehicle_stock|
+-----+----------+-------------+
|    1|Fiat Punto|           14|
+-----+----------+-------------+

In [75]:
new_record = sc.parallelize([Row(index = 1,vehicle = 'Fiat Punto Abarth', vehicle_stock = 14),
                            Row(index = 2,vehicle = 'Volkswagen Polo GT', vehicle_stock = 16),
                            Row(index = 3,vehicle = 'Hyundai Creta', vehicle_stock = 8)])

In [76]:
new_record_df = new_record.toDF()
new_record_df.show()

+-----+------------------+-------------+
|index|           vehicle|vehicle_stock|
+-----+------------------+-------------+
|    1| Fiat Punto Abarth|           14|
|    2|Volkswagen Polo GT|           16|
|    3|     Hyundai Creta|            8|
+-----+------------------+-------------+

In [77]:
complex_data_1 = sc.parallelize([Row(
                               col_string = "Alice",
                               col_double = 3.14,
                               col_integer = 20)
                              ])
c_df_1 = complex_data_1.toDF()

In [78]:
c_df_1.show()
c_df_1

+----------+-----------+----------+
|col_double|col_integer|col_string|
+----------+-----------+----------+
|      3.14|         20|     Alice|
+----------+-----------+----------+

DataFrame[col_double: double, col_integer: bigint, col_string: string]

In [79]:
complex_data_2 = sc.parallelize([Row(
                               col_string = "Alice",
                               col_double = 3.14,
                               col_integer = 20,
                               col_boolean = True,
                               col_list = [2,4,6])
                              ])

c_df_2 = complex_data_2.toDF()
c_df_2.show()
c_df_2

+-----------+----------+-----------+---------+----------+
|col_boolean|col_double|col_integer| col_list|col_string|
+-----------+----------+-----------+---------+----------+
|       true|      3.14|         20|[2, 4, 6]|     Alice|
+-----------+----------+-----------+---------+----------+

DataFrame[col_boolean: boolean, col_double: double, col_integer: bigint, col_list: array<bigint>, col_string: string]

In [81]:
complex_data = sc.parallelize([Row(
                                col_list = [2,4,6],
                                col_dict = {"a1": 0},
                                col_row = Row(x=15, y=25, z=35),
                                col_time = datetime(2018, 7, 1, 14, 1, 2)
                            ),              
                            Row(
                                col_list = [2,4,6,8,10], 
                                col_dict = {"a1": 0,"a2": 1 }, 
                                col_row = Row(x=45, y=55, z=65),
                                col_time = datetime(2018, 7, 2, 14, 1, 3)
                            ),
                            Row(
                                col_list = [2,4,6,8,10,12,14], 
                                col_dict = {"a1": 0, "a2": 1, "a3": 2 }, 
                                col_row = Row(x=75, y=85, z=95),
                                col_time = datetime(2018, 7, 3, 14, 1, 4)
                            )]) 
complex_data_df = complex_data.toDF()
complex_data_df.show()
complex_data_df

+--------------------+--------------------+------------+-------------------+
|            col_dict|            col_list|     col_row|           col_time|
+--------------------+--------------------+------------+-------------------+
|           [a1 -> 0]|           [2, 4, 6]|[15, 25, 35]|2018-07-01 14:01:02|
|  [a1 -> 0, a2 -> 1]|    [2, 4, 6, 8, 10]|[45, 55, 65]|2018-07-02 14:01:03|
|[a1 -> 0, a2 -> 1...|[2, 4, 6, 8, 10, ...|[75, 85, 95]|2018-07-03 14:01:04|
+--------------------+--------------------+------------+-------------------+

DataFrame[col_dict: map<string,bigint>, col_list: array<bigint>, col_row: struct<x:bigint,y:bigint,z:bigint>, col_time: timestamp]

In [82]:
sql_context = SQLContext(sc)
sql_context

In [83]:
df = sql_context.range(5)

In [84]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [86]:
print(df)
print(df.count())
print(df.first())
print(df.take(3))

DataFrame[id: bigint]
5
Row(id=0)
[Row(id=0), Row(id=1), Row(id=2)]

In [87]:
complex_data = [
                 (1.0,
                  12,
                  "Nissan Versa", 
                  True, 
                  [2,4,6], 
                  {"a1": 0},
                  Row(x=1, y=2, z=3), 
                  datetime(2018, 7, 1, 14, 1, 2)),

                 (2.0,
                  13,
                  "Ford Fiesta", 
                  True, 
                  [2,4,6,8,10], 
                  {"a1": 0,"a2": 1 }, 
                  Row(x=1, y=2, z=3), 
                  datetime(2018, 7, 2, 14, 1, 3)),

                  (3.0,
                   15,
                   "Hyundai Accent", 
                   True, 
                   [2,4,6,8,10,12,14], 
                   {"a1": 0, "a2": 1, "a3": 2 }, 
                   Row(x=1, y=2, z=3), 
                   datetime(2018, 7, 3, 14, 1, 4))
                ] 
new_df = sql_context.createDataFrame(complex_data)
new_df.show()

+---+---+--------------+----+--------------------+--------------------+---------+-------------------+
| _1| _2|            _3|  _4|                  _5|                  _6|       _7|                 _8|
+---+---+--------------+----+--------------------+--------------------+---------+-------------------+
|1.0| 12|  Nissan Versa|true|           [2, 4, 6]|           [a1 -> 0]|[1, 2, 3]|2018-07-01 14:01:02|
|2.0| 13|   Ford Fiesta|true|    [2, 4, 6, 8, 10]|  [a1 -> 0, a2 -> 1]|[1, 2, 3]|2018-07-02 14:01:03|
|3.0| 15|Hyundai Accent|true|[2, 4, 6, 8, 10, ...|[a1 -> 0, a2 -> 1...|[1, 2, 3]|2018-07-03 14:01:04|
+---+---+--------------+----+--------------------+--------------------+---------+-------------------+

In [88]:
new_df = sql_context.createDataFrame(complex_data,[
                                             'col_int',
                                             'col_double',
                                             'col_string',
                                             'col_bool',
                                             'col_array',
                                             'col_dictionary',
                                             'col_row',
                                             'col_date_time'])
new_df.show()

+-------+----------+--------------+--------+--------------------+--------------------+---------+-------------------+
|col_int|col_double|    col_string|col_bool|           col_array|      col_dictionary|  col_row|      col_date_time|
+-------+----------+--------------+--------+--------------------+--------------------+---------+-------------------+
|    1.0|        12|  Nissan Versa|    true|           [2, 4, 6]|           [a1 -> 0]|[1, 2, 3]|2018-07-01 14:01:02|
|    2.0|        13|   Ford Fiesta|    true|    [2, 4, 6, 8, 10]|  [a1 -> 0, a2 -> 1]|[1, 2, 3]|2018-07-02 14:01:03|
|    3.0|        15|Hyundai Accent|    true|[2, 4, 6, 8, 10, ...|[a1 -> 0, a2 -> 1...|[1, 2, 3]|2018-07-03 14:01:04|
+-------+----------+--------------+--------+--------------------+--------------------+---------+-------------------+

In [89]:
cars_data = sc.parallelize([Row(1,'Verna', 15),
                           Row(2,'Punto',9),
                           Row(3,"Ameo",10)])
cars_data.toDF().show()

+---+-----+---+
| _1|   _2| _3|
+---+-----+---+
|  1|Verna| 15|
|  2|Punto|  9|
|  3| Ameo| 10|
+---+-----+---+

In [92]:
column_names = Row("id","Car_Name","Stock_Avail")

In [93]:
cars = cars_data.map(lambda r:column_names(*r))
cars

PythonRDD[241] at RDD at PythonRDD.scala:53

In [94]:
cars.collect()

[Row(id=1, Car_Name='Verna', Stock_Avail=15),
 Row(id=2, Car_Name='Punto', Stock_Avail=9),
 Row(id=3, Car_Name='Ameo', Stock_Avail=10)]